<% if logged_in? %>
  <%= render 'toppages/weather' %>
  <div class="mt-5">
    <div>
      <h5>今の気温と服装はどう？</h5>
      <%= form_with(model: @comment, local: true) do |f| %>
      <%= f.hidden_field :weather, :value => @myarea["current"]["weather"][0]["main"] %>
      <%= f.hidden_field :temp, :value => @myarea["current"]["temp"].to_i %>
      <%= f.hidden_field :humidity, :value => @myarea["current"]["humidity"] %>
      <%= f.hidden_field :area_id, :value => current_user.area.id %>
        <div class="form-group row">
          <div class="col-sm-10">
            <%= f.text_area :content, class: 'form-control', rows: 1%>
          </div>
          <div class="col-sm-2">
            <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mt-5">
      <h5>最近の投稿</h5>
      <%= render 'comments/comments', comments: @comments %>
    </div>
    <div class="mt-5">
      <h5>今と似た天気の時の投稿</h5>
      <%= render 'comments/comments', comments: @comments_similar %>
    </div>
  </div>
<% else %>
  <div class="top-page">
    <img src="/assets/3364037_m.jpg" class="img-fluid" alt="topimage">
    <h1 class="top-page-text">WeatherFahison</h1>
  </div>
  <div class="main mt-5 pt-5">
    <div class="row">
      <div class="col-md-6 ">
        <h2 class="mb-5 text-center main-title">天気にあった服装を提案します</h2>
        <p class="ml-5 main-text">登録地点の1日の天気を表示しその日の気温から</p>
        <p class="ml-5 main-text">おすすめの服装を表示します。</p>
      </div>
      <div class="col-md-6">
        <img src="/assets/weather_index.png" class="img-fluid" alt="demo">
      </div>
    </div>
    </div>
  </div>
  <div class="footer mt-5 pt-5 mb-5">
    <div class="text-center">
      <p class="footer-text">今すぐ登録する？</p>
      <p><%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %></p>
    </div>
  </div>
<% end %>